# python
__pycache__
*.pyc
*egg-info*
/dist/
/build/
/docs/_build
.pytest_cache/


# IDE
.idea
.vscode

# Virtualenvs
.venv
.venv2
.env
env
venv

# Test and docs
.tox

# project
extras/env.sh
test.py
